{% extends 'base.html' %}
{% block content %}
<h2>MY SUBMISSIONS</h2>

<table border="1" class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Author</th>
        <th>Conference</th>
        <th>Submission Date</th>
        <th>Payment</th>
        <th>Actions</th>
    </tr>
    {% for sub in submissions %}
    <tr>
        <td>{{ sub.title }}</td>
        <td>{{ sub.status }}</td>
        <td>{{ sub.user.username }}</td>
        <td>{{ sub.conference.name }}</td>
        <td>{{ sub.submission_date|date:"d/m/Y H:i" }}</td>
        <td>{% if sub.payment_done %}Yes{% else %}No{% endif %}</td>
        <td>
            <a href="{% url 'submission_detail' sub.pk %}" class="btn btn-info btn-sm">Détails</a>
            <a href="{% url 'submission_update' sub.pk %}" class="btn btn-warning btn-sm">Modifier</a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="7">No Submissions Found.</td></tr>
    {% endfor %}
</table>

<a href="{% url 'submission_add' %}" class="btn btn-primary">+ New Submission</a>
{% endblock %}
